.bor-1px-t,.bor-1px-b,.bor-1px-r{
  position: relative;
}
.bor-1px-b:after{
  content: '';
  width: 100%;
  height: 0;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  border-bottom: 1px solid #ddd;
  transform: scaleY(.5);
  transform-origin: 0 0;
  -webkit-transform: scaleY(.5);
  -webkit-transform-origin: 0 0;
}
.bor-1px-t:before{
  content: '';
  width: 100%;
  height: 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  border-top: 1px solid #ddd;
  transform: scaleY(.5);
  transform-origin: 0 0;
  -webkit-transform: scaleY(.5);
  -webkit-transform-origin: 0 0;
}
.bor-1px-r:after{
  content: '';
  width: 0;
  height: 100%;
  position: absolute;
  bottom: 0;
  right: 0;
  top: 0;
  border-right: 1px solid #ddd;
  transform: scaleX(.5);
  transform-origin: 0 0;
  -webkit-transform: scaleX(.5);
  -webkit-transform-origin: 0 0;
}
@-webkit-keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
@keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
.fadeInUp {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
}
.animated {
  -webkit-animation-duration: .5s;
  animation-duration: .5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
@-webkit-keyframes fadeOutDown {
  from {
  }
  to {
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }
}
@keyframes fadeOutDown {
  from {
  }
  to {
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }
}
.fadeOutDown {
  -webkit-animation-name: fadeOutDown;
  animation-name: fadeOutDown;
}